body {
  margin: 0px;
  padding: 0;
  background-color: black;
  color: white;
  box-sizing: border-box;
  text-align: justify;
}
h1 {
  font-size: 50px;
  margin: 0px;
}
a{
  color: white;
}
header {
  text-align: center;
  margin: 0px;
  background-color: black;
  border-bottom: 5px solid white;
  border-bottom-left-radius: 50px ;
  border-bottom-right-radius: 50px;
}
#page-subtitle {
  padding-bottom: 10px;
}
figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#image{
  height: auto;
  width: 250px;
  max-width: 100%;
}
figcaption {
  font-size: 20px;
}
#tribute-info{
  border-bottom-left-radius: 50px ;
  border-bottom-right-radius: 50px;
  border: 5px solid white;
  padding: 100px;
  background-color: black;
}
h2{
  text-align: center;
}
p{
  font-size: 25px;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p a{
  text-decoration: none;
}

@media screen and (max-width:1200px){
#tribute-info{
  padding: 25px;
}
p{
  font-size: 15px
}
}