*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
}
main{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-image: url('./background.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 90vh;
  border: 5px solid #fff;
  box-shadow: -2.5px -2.5px 5px rgb(100,100,100,1),
  2.5px 2.5px 5px rgb(100,100,100,1);
}
.main-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.todo-input-container{
  display: flex;
  width: 95%;
  border: 5px solid #fff;
  outline: none;
  background:transparent;
}
#todo-input{
  width: 80%;
  height: 50px;
  padding: 10px;
  font-size: 25px;
  background: transparent;
  outline: none;
}
#todo-input::placeholder{
  color: #ffffff74;
}
#btn-addTodo{
  width: 20%;
  height: 100%;
  cursor: pointer;
  border: none;
  outline: none;
}
#btn-addTodo img{
height: 25px;
}
.todo-container{
  margin-top: 10px;
  width: 95%;
  border: 5px solid #fff;
  height: 350px;
  overflow-y: auto;
}
.todoListItem{
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.btn-delete{
  height: 50px;
  width: 20%;
  background-color: red;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
  font-size: 20px;
}
.todoListItem p{
  padding: 10px;
  width: 80%;
  overflow-x: auto;
  text-transform: capitalize;
}
#btn-addTodo:active{
  filter: invert(100%);
}
.btn-delete:active{
  background-color: #fff;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:25px 0 25px 0;
  text-align: center;
}
@media screen and (max-width:500px) {
  .main-container{
    width: 95%;
  }
}