@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}
body{
  background:linear-gradient(white,orange);
}
h1{
  letter-spacing: 5px;
  font-family: 'Lemon', serif;
  font-weight: 900;
}
#header{
  padding: 10px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -2.5px -2.5px 5px gray,
  2.5px 2.5px 5px black;
}
#header-img{
height: 120px;
width: 120px;
}
.nav-link{
  color:white;
  border-bottom:1px solid white;
  text-decoration: none;
  font-size: 25px;
}
.nav-link:hover{
  color:black;
  background-color:white;
  border-bottom:1px solid black;
}
#nav-bar{
  display: flex;
  gap: 25px;
}
#home{
  background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9vZHxlbnwwfDB8MHx8fDA%3D");
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px; 
}
#video-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
iframe{
  margin: 25px;
}
#services{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-heading{
  font-family: 'Lemon', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
.all-servicebox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
fieldset{
  
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}
fieldset legend{

  font-size: 25px;
  font-weight: 750;
  text-decoration: underline;
}
fieldset img{
  width: 100%;
  height: 200px;
}
#subscribe{
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 25px;
}
h2{
  font-family: 'Lemon', serif;
  font-size: 35px;
}
form{
  margin: 25px;
}
form label{
  width: 500px;
  display: flex;
  height: 50px;
  border-radius: 25px;
  border-radius: 50px;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid black;
  flex-wrap: wrap;
}
form label input{
  min-width: 100px;
  width: 50%;
  border: none;
  outline: none;
  background-color: transparent;
}
form label input::placeholder{
  color: black;
}
#submit{
  width: 25%;
  background-color: white;
  border-radius: 50px;
  outline: none;
  border: none;
  margin: 0;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
footer p a{
  text-decoration: none;
  color: white;
}

@media screen and (max-width:1200px)
{
  #header{
    flex-direction: column;
  }
  .all-servicebox{
    flex-direction: column;
  }
  #nav-bar{
width: 100%;
margin-top: 25px;
justify-content: space-evenly;
align-items: center;
  }
h2{
    font-size: 18px;
  }
  .nav-link{
    font-size: 18px;
  }
  fieldset{
    width: 50%;
  }
  form label{
    width: 250px;
  }
  #submit{
    font-size: 10px;
  }
  iframe{
    height: 200px;
    width: 50%;
  }
}

@media screen and (max-width:400px) {
  h1 , h2{
    font-size: 12px;
  }
  #header-img{
    height: 75px;
    width: 75px;
    }
  .nav-link{
    font-size: 12px;
  }
iframe, fieldset{
  width: 100%;
}
}
